{% extends "base.html" %}
{% set title ='appfb' %}
	
	{% block content %}</pre>
	
<h1>POSTS</h1>
<form action="/" method="post">
	<p>Tu post: <input type="text" id= "post" name="post" value=""/></p>
	<p>Tus tokens: <input type="text" id="token" name="token" value=""/></p>
	<p>ID de grupos: <input type="text" id="grupos" name="grupos" value=""/></p>
	<input type="submit" value="Enviar" />
	{% if valor1 %}
    <p>{{ valor1 }}</p>
    {% else %}
    <p></p>
    {% endif %}
</form> 
<pre>
{% endblock %}